/* I inserted this as this is known to be code that allows developers to start with a clean slate in CSS (I learnt this from Udemy) */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root variables in cases where I need to adjust all elements at the same time. Removed and replaced elements that were not conneceted to this section by using var() instead  */

:root {
  --bs-navbar-bg: rgb(0,0,0,0.5);
  --bs-navbar-text: white;
}

/* Reservation section (very top of page) */

/* Japanese restaurant as image behind navbar and #dine-section. Image to be zoomed out in order to make image more appealing to viewers */
#introduction {
    background-image: url(https://images.unsplash.com/photo-1576863514292-542ef379c13b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8amFwYW5lc2UlMjByZXN0YXVyYW50fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Reservation details at top of navbar with white text so that it can be seen in navbar */
#rsvp {
  background-color: var(--bs-navbar-bg);
  color: var(--bs-navbar-text);
}

/* Span class within #dinner to have space between each other to look more appealing. I could not somehow use justify-content to apply 'space-around/between' and instead resolved to adjust the margins instead */
#dinner span {
  margin-left: 10px;
  margin-right: 10px;
}

/* Conect section to be seen on top right of nav by using float.  */
#connect {
    float: right;
}

/* Span class within #connect acts similar to the span on the opposite side of navbar. Used margin to make space between */
#connect span {
margin-left: 10px;
margin-right: 10px;
text-transform: uppercase;
}

/* Used @media to imitate real website to turn into a navbar with collapsable navbar dropdown when screen is smaller or zoomed in */
@media only screen and (max-width: 1000px) {
    section > div {
      display: none;
    }
  }

/* Keeping navbar background consistent with rest of nav section */
  nav {
  background-color: var(--bs-navbar-bg) ;
}

/* Makes navbar contents white (Home Food Drink Vouchers REservations_ */
div > ul > li > a {
  color:var(--bs-navbar-text) !important;
}

/* Centers bowl of rice logo in the center vertically and horizontally in navbar section */
#bowl {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 4rem;
    
}

/* "Dine in" text with white border around to welcome customers. This is placed in middle of background img */
#dine {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bs-navbar-text);
  border: 5px solid var(--bs-navbar-text);
  width: 30%;
  padding: 3rem;
}

#dine-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15rem;
}