

#connect {
    display: inline-flex;
    float: right;
}

@media only screen and (max-width: 1000px) {
    section > div {
      display: none;
    }
  }

#introduction {
    background-image: url(japanese-restaurants-la-01.webp);
}